:root {
  --side-length: 200px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0D0D0D;
  color: #F3F3F3;
  font-family: Arial, Helvetica, sans-serif;
}

.Scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.Cube {
  position: relative;
  width: var(--side-length);
  height: var(--side-length);
  transform: var(--transform, translateZ(-100px));
  transition: transform 100ms;
  transform-style: preserve-3d;

  &__Face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e8d7b3;
    border-radius: 20px;

    &.-Backside {
      border-radius: 10;
      backface-visibility: hidden;
    }

    &.-Front {
      transform: rotateY(0deg) translateZ(100px);

      &.-Backside {
        transform: translateZ(99px) rotateY(180deg);
      }
    }

    &.-Back {
      transform: rotateY(180deg) translateZ(100px);

      &.-Backside {
        transform: translateZ(-99px);
      }
    }

    &.-Left {
      transform: rotateY(-90deg) translateZ(100px);

      &.-Backside {
        transform: rotateY(90deg) translateZ(-99px);
      }
    }
  
    &.-Right {
      transform: rotateY(90deg) translateZ(100px);

      &.-Backside {
        transform: rotateY(-90deg) translateZ(-99px);
      }
    }
    
    &.-Top {
      transform: rotateX(90deg) translateZ(100px);

      &.-Backside {
        transform: rotateX(-90deg) translateZ(-99px);
      }
    }
    
    &.-Bottom {
      transform: rotateX(-90deg) translateZ(100px);

      &.-Backside {
        transform: rotateX(90deg) translateZ(-99px);
      }
    }

    &.-FakeX {
      padding: 0;
      transform: rotateY(0deg);
      border-radius: 0;
    }

    &.-FakeY {
      padding: 0;
      transform: rotateY(90deg);
      border-radius: 0;
    }

    &.-FakeZ {
      padding: 0;
      transform: rotateX(90deg);
      border-radius: 0;
    }
  }

  &__DotsOverlay {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 25px;
    width: 100%;
    height: 100%;
    background-color: #e8d7b3;
    border-radius: 20px;
    padding: 20px 15px;
    backface-visibility: hidden;

    &.-Front {
      transform: rotateY(0deg) translateZ(101px);

      .Dot:nth-child(5) {
        visibility: visible;
      }
    }

    &.-Back {
      transform: rotateY(180deg) translateZ(101px);

      .Dot:nth-of-type(1),
      .Dot:nth-of-type(2),
      .Dot:nth-of-type(3),
      .Dot:nth-of-type(7),
      .Dot:nth-of-type(8),
      .Dot:nth-of-type(9) {
        visibility: visible;
      }
    }

    &.-Left {
      transform: rotateY(-90deg) translateZ(101px);
  
      .Dot:nth-of-type(3),
      .Dot:nth-of-type(7) {
        visibility: visible;
      }
    }

    &.-Right {
      transform: rotateY(90deg) translateZ(101px);
  
      .Dot:nth-of-type(1),
      .Dot:nth-of-type(3),
      .Dot:nth-of-type(5),
      .Dot:nth-of-type(7),
      .Dot:nth-of-type(9) {
        visibility: visible;
      }
    }

    &.-Top {
      transform: rotateX(90deg) translateZ(101px);
  
      .Dot:nth-of-type(3),
      .Dot:nth-of-type(5),
      .Dot:nth-of-type(7) {
        visibility: visible;
      }
    }

    &.-Bottom {
      transform: rotateX(-90deg) translateZ(101px);
  
      .Dot:nth-of-type(1),
      .Dot:nth-of-type(3),
      .Dot:nth-of-type(7),
      .Dot:nth-of-type(9) {
        visibility: visible;
      }
    }

    .Dot {
      visibility: hidden;
      width: 40px;
      height: 40px;
      background-color: #0a0708;
      border-radius: 50%;
    }
  }
}

.Inputs {
  margin-top: 100px;

  .Input {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}
